<h1>Listing stuffs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Qty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stuffs.each do |stuff| %>
  <tr>
    <td><%= stuff.name %></td>
    <td><%= stuff.desc %></td>
    <td><%= stuff.qty %></td>
    <td><%= link_to 'Show', stuff %></td>
    <td><%= link_to 'Edit', edit_stuff_path(stuff) %></td>
    <td><%= link_to 'Destroy', stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stuff', new_stuff_path %>
