<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stuff.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @stuff.desc %>
</p>

<p>
  <b>Qty:</b>
  <%= @stuff.qty %>
</p>


<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>
